Flask
pandas
numpy
scipy
spacy
praw
sqlalchemy
datetime
demoji
wordcloud
scikit-learn
nltk
matplotlib
pmaw
gunicorn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
cloudpickle
pickle5
